<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TeleChartPlay</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> TELERIK CHARTS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gojs">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> GOJS CHARTS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sigma">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> SIGMA CHARTS
            </NavLink>
        </div>


    </nav>

</div>
